header{
	width: 100%;
	height: 70px;
	background: black;
	margin-bottom: 50px;
	h1{
		text-align: center;
		color: white;
		padding-top: 10px;
	}
}

#form{
	p{
		label{
			display: block;
		}
	}
}

#addStudent{
	display: none;
}